.filtersContainer {
  border: 1px solid;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a8dadc;
  color: black;
}
.amountFilter {
  display: flex;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.changeAmountButton {
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  width: 20px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.inputAmount {
  width: 25px;
  text-align: center;
}
